.search {
  text-align: center;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-container {
  width: 500px;
  display: flex;
  flex-direction: column;
}

.dropdown {
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
}

.dropdown:empty {
  border: none;
}

.dropdown-row {
  cursor: pointer;
  background-color: azure;
  color: black;
  text-align: start;
  margin: 5px 5px;
  padding: 5px;
  /* border: 0.5px solid; */
}

div.dropdown-row:hover {
  color: white;
  background-color: pink;
}

input {
  width: 500px;
}

.search-inner {
  display: flex;
}

button{
  background-color: green;
  border: none;
  color: white;
  padding: 5px;
}